# Python
__pycache__/

# Node
node_modules/

# Baselines
baselines/**/outputs/
baselines/**/slurm_logs/
baselines/**/run.sh
baselines/**/run_sbatch.sh
baselines/**/config.mc*.yaml

# Training scripts
str_builder/scripts/**/*.sh
!str_builder/scripts/**/*.example.sh
str_builder/scripts/**/*.out
str_painter/scripts/**/*.sh
!str_painter/scripts/**/*.example.sh
str_painter/scripts/**/*.out
